@model Dynamic1toMany.Models.OrderViewModel

<h2>Edit Order</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    
}

@section Scripts {
    <script>
        function addOrderItem() {
            var index = $('#orderItems .form-group').length + 1;
            var orderItemHtml = `
                            <div class="form-group">
                                <input type="hidden" name="OrderItems.index" value="${index}"/>
                                <input type="hidden" name="OrderItems[${index}].OrderItemId" />
                                <label for="OrderItems_${index}__ProductName">Product Name</label>
                                <input name="OrderItems[${index}].ProductName" class="form-control" />
                                <label for="OrderItems_${index}__Quantity">Quantity</label>
                                <input name="OrderItems[${index}].Quantity" class="form-control" />
                                <button type="button" onclick="removeOrderItem(this)" class="btn btn-danger">Remove</button>
                            </div>`;
            $('#orderItems').append(orderItemHtml);
        }

        function removeOrderItem(button) {
            $(button).closest('.form-group').remove();
        }
    </script>
}
